#loader-gif {
    display: none;
}

.detail-content {
    position: relative;
}

.detail-content .video
{
    width: 100%;
}

.detail-content .image {
    max-height: 400px;
    max-width: 100%;
}

.detail-content .text {
	text-align: left;
}