/* Fix Aladin plugin behaviour */
.aladin-popup {
    top: 0;
    left: 0;
    position: relative;
    z-index: 0;
}

.aladin-popup-arrow {
    position: relative;
    z-index: 1;
}

.aladin-popupTitle,
.aladin-popupText {
    text-align: center;
}

.aladin-zoomControl {
    z-index: 99999;
}


/* Default time capslute styles */
.time-capsule-orbit {
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    transform: scale(0);
    transition: none;
}

.aladin-popup-container.visible .time-capsule-orbit {
    transform: scale(1);
    transition: all 1.5s;
}

.time-capsule-content {
    font-size: 40px;
    color: white;
    pointer-events: auto;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    z-index: 9999;
}

.time-capsule-content::after {
    display: block;
    text-align: center;
    font-family: Segoe UI Symbol;
}


/* Image */
.time-capsule-content[data-type="image"] {
    background-color: #ea4e4e;
}

.time-capsule-content[data-type="image"]::after {
    content: "📷";
}

/* Text */
.time-capsule-content[data-type="text"] {
    background-color: #499043;
}

.time-capsule-content[data-type="text"]::after {
    content: "✉️";
}

/* Video */
.time-capsule-content[data-type="video"] {
    background-color: #743c88;
}

.time-capsule-content[data-type="video"]::after {
    content: "🎥";
}

/* Audio */
.time-capsule-content[data-type="audio"] {
    background-color: #4156de;
}

.time-capsule-content[data-type="audio"]::after {
    content: "📻";
}


/* First Orbit */
.time-capsule-orbit:nth-child(1) {
    top: -42px;
    left: 20px;
}

.time-capsule-orbit:nth-child(1) .time-capsule-content:nth-child(1) {
    top: -30px;
    left: 30px;
}

.time-capsule-orbit:nth-child(1) .time-capsule-content:nth-child(2) {
    top: 90px;
    left: 90px;
}


/* Second Orbit */
.time-capsule-orbit:nth-child(2) {
    top: -122px;
    left: -30px;
}

.time-capsule-orbit:nth-child(2) .time-capsule-content:nth-child(1) {
    top: 190px;
    left: -10px;
}

.time-capsule-orbit:nth-child(2) .time-capsule-content:nth-child(2) {
    top: 90px;
    left: 236px;
}


/* Third Orbit */
.time-capsule-orbit:nth-child(3) {
    top: -152px;
    left: -90px;
    height: 420px !important;
}

.time-capsule-orbit:nth-child(3) .time-capsule-content:nth-child(1) {
    top: 350px;
    left: 280px;
}

.time-capsule-orbit:nth-child(3) .time-capsule-content:nth-child(2) {
    top: 20px;
    left: 40px;
}


/* Forth Orbit */
.time-capsule-orbit:nth-child(4) {
    top: -192px;
    left: -130px;
    height: 510px !important;
    width: 550px !important;
}

.time-capsule-orbit:nth-child(4) .time-capsule-content:nth-child(1) {
    left: 510px;
    top: 220px;
}

.time-capsule-orbit:nth-child(4) .time-capsule-content:nth-child(2) {
    left: 30px;
    top: 380px;
}


/* Fifth Orbit */
.time-capsule-orbit:nth-child(5) {
    top: -240px;
    left: -180px;
    width: 690px !important;
}

.time-capsule-orbit:nth-child(5) .time-capsule-content:nth-child(1) {
    left: -30px;
    top: 270px;
}

.time-capsule-orbit:nth-child(5) .time-capsule-content:nth-child(2) {
    left: 400px;
    top: -20px;
}
