<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">{{capsula.capsuleName}} <i class="mdi-image-timelapse"></i></h5>
                <p>Vôce só pode visualizar quais tipos de arquivos que foram adicionados na cápsula, os conteúdos
                    só poderão ser visualizados depois que o tempo expirar.</p>
            </div>  
        </div>
    </div>
</div>

<div id="basic-form" class="section">
    <div class="row">
        <div class="col s12 m12 l10">
            <div class="card-panel">
                <h4 class="header2">Tipos de arquivos que existem nessa cápsula</h4>
                <div class="row">
                    <div class="col s3" ng-repeat="c in dataCapsule" style="text-align: center;">
                        <i class="{{c.icon}}"></i>
                        <p class="strong">{{c.label}} </p>
                        <span class="task-cat teal" style="font-size: 20px">{{c.count}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l10">
            <div class="card-panel">
                <h4 class="header2">Tempo de Abertura</h4>
                <div class="row">
                    <div class="col s12">
                        <i class="mdi-action-history"></i>
                        <span class="task-cat teal"> {{capsula.years}} Anos</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l10">
            <div class="card-panel">
                <h4 class="header2">Quantidade de memória</h4>
                <div class="row">
                    <div class="col s12">
                        <div class="progress">
                            <div class="determinate" style="width: 70%"></div>
                        </div>
                        <p>700MB/1GB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>