<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Nova cápsula <i class="mdi-image-timelapse"></i></h5>
                <p>Vôce só pode visualizar quais tipos de arquivos que foram colocados na cápsula, os conteúdos só poderão ser
                    vistos depois que o tempo expirar</p>
            </div>
        </div>
    </div>
</div>

<div id="basic-form" class="section">
    <div class="row">
        <div class="col s12 m12 l10">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="" type="text">
                        <label for="" class="">Nome da cápsula</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="" type="text">
                        <label for="" class="">Pequena descrição</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="" type="text">
                        <label for="" class="">Quantidade de anos para abrir</label>
                    </div>
                    <div class="row section">
                        <div class="col s12 m4 l3">
                            <p>VÍdeo</p>
                        </div>
                        <div class="col s12 m8 l9">
                            <div class="dropify-wrapper">
                                <div class="dropify-message"><span class="file-icon"></span>
                                </div><input type="file" id="input-file-now" class="dropify" data-default-file=""><button type="button"
                                    class="dropify-clear">Remove</button>
                                <div class="dropify-preview"><span class="dropify-render"></span>
                                    <div class="dropify-infos">
                                        <div class="dropify-infos-inner">
                                            <p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section">
                        <div class="col s12 m4 l3">
                            <p>Imagem</p>
                        </div>
                        <div class="col s12 m8 l9">
                            <div class="dropify-wrapper">
                                <div class="dropify-message"><span class="file-icon"></span>
                                </div><input type="file" id="input-file-now" class="dropify" data-default-file=""><button type="button"
                                    class="dropify-clear">Remove</button>
                                <div class="dropify-preview"><span class="dropify-render"></span>
                                    <div class="dropify-infos">
                                        <div class="dropify-infos-inner">
                                            <p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row section">
                        <div class="col s12 m4 l3">
                            <p>Áudio</p>
                        </div>
                        <div class="col s12 m8 l9">
                            <div class="dropify-wrapper">
                                <div class="dropify-message"><span class="file-icon"></span>
                                </div><input type="file" id="input-file-now" class="dropify" data-default-file=""><button type="button"
                                    class="dropify-clear">Remove</button>
                                <div class="dropify-preview"><span class="dropify-render"></span>
                                    <div class="dropify-infos">
                                        <div class="dropify-infos-inner">
                                            <p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12 m12">
                            <a class="btn waves-effect waves-light  deep-purple" href="#/capsulas">Salvar cápsula</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>