<div class="container">
    <h4>Suas cápsulas <i class="mdi-action-view-week"></i></h4>
    <div class="row">
        <div class="col s12 m12 l12">
            Essas são suas cápsulas registradas, o seu tamanho de armazenamento e o tempo de abertura para sua vizualização
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10 l10" style="text-align:right;">
            <a class="btn waves-effect waves-light  deep-purple" href="#/capsula/cadastrar">Nova cápsula <i class="mdi-content-add-circle-outline"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3 l3" ng-repeat="c in capsules track by c.id">
        <div class="blog-card">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light" style="text-align: center">
                    <img src="/assets/images/capsule.fw.png" alt="blog-img" style="width: 55%;">
                </div>
                <ul class="card-action-buttons" style="display:-webkit-box">
                    <li style="padding: 0 10px 0 10px;">
                        <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                     <li style="padding: 0 10px 0 10px;">
                        <a class="btn-floating waves-effect waves-light green accent-4" href="#/capsula/{{c.id}}/visualizar"><i class="mdi-action-visibility"></i></a>
                    </li>
                </ul>
                <div class="card-reveal" style="display: none; transform: translateY(0px);">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i>{{c.capsuleName}}</span>
                    <p></p/>
                    <div class="progress">
                        <div class="determinate" style="width: 70%"></div>
                    </div>
                    <p>700MB/1GB</p>
                    <p>Tempo de abertura da cápsula:<p/>
                    <span class="task-cat purple">{{c.years}} anos</span>
                    <p>Foi aberta: <span ng-if="c.isOpen" class="task-cat green">Sim</span><span ng-if="!c.isOpen" class="task-cat red">Não</span><p/>
                </div>
            </div>
        </div>
    </div>
</div>
