<div class="page-head">
  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/usuario">Usuário</a></li>
    <li class="active">{{titulo}}</li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- {{userProfile}} -->
    <div class="block-flat">
      <div class="header">
        <h3>{{titulo}}</h3>
      </div>
      <div class="content">
        <form class="form-horizontal group-border-dashed" name="appForm" style="border-radius: 0px;" ng-submit="submit(auth_user)" novalidate>
          <div class="form-group" style="border: none; padding-top: 0px;">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-8 text-right">
              <code>(<span style="color: red">*</span>) Campos obrigatórios.</code>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label required">Nome</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Digite o nome" name="nome" ng-model="auth_user.name" required="">
              <span ng-if="appForm.nome.$invalid && appForm.nome.$dirty" class="message-error">Informe o nome</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label required">E-mail</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" placeholder="exemple@exemple.com.br" name="email" ng-model="auth_user.email" required="">
              <span ng-if="appForm.email.$error.required && appForm.email.$dirty" class="message-error">Informe o email</span>
              <span ng-if="appForm.email.$error.email" class="message-error">Digite o email corretamente</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 control-label"><input type="checkbox" ng-model="alterar_senha"> Desejo alterar a senha</label>
          </div>
          <div class="form-group" ng-if="alterar_senha == true">
            <label class="col-sm-2 control-label required">Senha</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="password" placeholder="Digite sua senha" ng-minlength="6" name="password" ng-model="user.password" ng-required="alterar_senha == true">
              <span ng-if="appForm.password.$error.required && appForm.password.$dirty" class="message-error">Esse campo é obrigatório</span>
              <span ng-if="appForm.password.$error.minlength && appForm.password.$dirty" class="message-error">Digite no mínimo 6 caracteres</span>
              <!--                            <span ng-if="appForm.senha.$dirty" class="message-error">Informe a senha</span>
              <span ng-if="appForm.senha.$invalid && appForm.senha.$dirty" class="message-error">A senha dever ter no mínimo 6 caracteres</span>-->
            </div>
          </div>
          <div class="form-group" ng-if="alterar_senha == true">
            <label class="col-sm-2 control-label required">Repita a senha</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" placeholder="Repetir senha" name="confirmPassword" ng-model="user.confirmPassword"  ng-required="alterar_senha == true" equal="user.password" id="confirmPassword">
              <span ng-show="appForm.confirmPassword.$error.required && appForm.confirmPassword.$dirty" class="message-error">Confirme a senha</span>
              <span ng-show="!appForm.confirmPassword.$error.required && appForm.confirmPassword.$error.equal && appForm.confirmPassword.$dirty" class="message-error">As senhas devem ser idênticas</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Imagem</label>
            <div class="col-sm-8">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                  <img  ng-if="!userProfile.url" ng-src="assets/images/1460248043_25.Camera-Front.png" src="assets/images/1460248043_25.Camera-Front.png" alt="Sem Imagem">
                  <img ng-if="userProfile.url" ng-src="assets/uploads/{{userProfile.patch}}/{{userProfile.url}}" alt="{{auth_user.name}}">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                  <!-- {{userProfile}} -->
                  <button type="file" ngf-select="uploadFiles($file, $invalidFiles, userProfile)"
                  accept="image/*" ngf-max-height="1000" ngf-max-size="2MB" ng-model="userProfile.url" name="file" class="btn btn-default btn-file">
                  <span ng-hide="userProfile.url">Selecione uma Imagem</span><span ng-if="userProfile.url">Alterar a Imagem</span>
                </button>
                <button ng-click="userProfile.url = null" class="btn btn-default" ng-if="userProfile.url">Remover</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-8">
            <button class="btn btn-primary" ng-disabled="appForm.$invalid" ng-hide="loading">
              {{tituloBtnSubmit}}
            </button>
            <button class="btn btn-primary" ng-show="loading">
              Aguarde...
              <i class="fa fa-spinner fa-spin"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
